body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-filter: contrast(120%);
    filter: contrast(120%);
    background-color: #000
}

.container {
    width: 100%;
    height: 100%;
    background-image: -webkit-radial-gradient(70% 120% 1600px, #212750 0, #020409 100%);
    background-image: radial-gradient(1600px at 70% 120%, #212750 10%, #020409 100%)
}

.content {
    width: inherit;
    height: inherit
}

#universe {
    width: 100%;
    height: 100%;
}

#footerContent {
    font-family: sans-serif;
    font-size: 110%;
    color: rgba(200, 220, 255, .3);
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 20px;
    text-align: center;
    z-index: 20
}

#footer {
    bottom: 0;
    height: 300px;
    width: 100%
}

#footer, #scene {
    position: absolute
}

#scene {
    height: 100%;
    left: 50%;
    margin-left: -800px
}

a {
    text-decoration: none;
    color: #c8dcff;
    opacity: .4;
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease
}

a:hover {
    opacity: 1
}

#box {
    color: #fff;
    position: absolute;
    bottom: 30%;
    left: 50%;
    margin-left: -96px;
    z-index: 100;
    transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    font-size: 12px
}

.txt {
    color: transparent;
    text-shadow: #fff 0 0 10px;
    -webkit-transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
    transition: text-shadow 2s cubic-bezier(0, 1, 0, 1)
}

@-moz-document url-prefix() {
    .txt {
        text-shadow: #fff 0 0 20px
    }
}

#canvas {
    margin: 200px auto;
    left: -50px !important;
    -webkit-transform:scale(0.6)
}
#myCanvas{
  position: absolute;
  left: 0px;
  top: 0px;
}

.github {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px
}
